<form #form='ngForm' class="mb-4" autocomplete="off" (submit)="updatePost(form)">
        <input  name="id" #id="ngModel" [(ngModel)]="service.formData.id"
    class="form-control" hidden  required>

    <div class="form-row">
<div class="form-group col-md-6">
    <label for="Author">Author</label>
    <input  name="Author" #Author="ngModel" [(ngModel)]="service.formData.author"
        class="form-control" placeholder="Enter Author Name" required>
 </div>
<div class="form-group col-md-6">
    <label for="Title">Title</label>
    <input name="Title" #Title="ngModel" placeholder="Title" [(ngModel)]="service.formData.title" class="form-control">
</div>
<div class="form-group col-12">
    <label for="Author">ImagUrl</label>
    <input type="text" name="imageUrl" #ImagUrl="ngModel" [(ngModel)]="service.formData.imageUrl"
        class="form-control" placeholder="Image">
       
</div>
<div class="form-group col">
    <label for="Post">Post</label>
        <textarea class="form-control" rows="3"  name="body" #ImagUrl="ngModel" [(ngModel)]="service.formData.body"
        class="form-control" placeholder="body"></textarea>
</div>
</div>
<button mat-button mat-dialog-close type="submit" class="btn btn-primary">Submit</button>
</form>
